<ion-content fullscreen padding scroll-y="false">

  <ion-icon style="font-size: 50px;color: white;" (click)="home();" name="arrow-round-back"></ion-icon>

  <form action="/action_page.php" style="margin-top: 20%;" method="post">
    <div class="imgcontainer">
      <img src="../../assets/cat_dog.png" alt="Avatar" class="avatar">
    </div>

    <input type="text" placeholder="E-Posta" name="email" #userName required>

    <input type="password" placeholder="Şifre" name="password" #userPassword required>
    <button  (click)="authService.SignIn(userName.value, userPassword.value)" type="submit">Giriş Yap</button>
    <p style="text-align: center;">veya</p>
    <button (click)="authService.FacebookAuth()" style="background-color:#3b5998" ion-button icon-start>
      <ion-icon name="logo-facebook"></ion-icon>
      Facebook
    </button>
    <button (click)="authService.GoogleAuth()" style="background-color:#DB4437" ion-button icon-start>
      <ion-icon name="logo-google"></ion-icon>
      Google
    </button>
    <div class="container">
      <button (click)="authService.SignIn('defaultBirKapDaha@yopmail.com', 'defaultPassBirKapDaha')" style="text-align: center; font-size:medium;">Üye olmadan devam et</button>
    </div>
  </form>

</ion-content>