ion-menu {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    --ion-background-color: #2e516d;
    --ion-text-color-activated: red;
    --ion-text-color: white;

    --ion-border-color	: transparent;
  
    ion-toolbar {
      --background:  #244561;
      border-bottom: 1px solid rgb(109, 126, 151);
    }
    ion-title {
        font-weight: 400;
        font-size: 18px;
    }
  
    ion-list {
      margin-top: 2%;
      background: transparent;
    }
  }